WebContent/wsdl/BerekenKrachtImp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://windmolen" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://windmolen" xmlns:intf="http://windmolen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://windmolen" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="windEngerie">
    <complexType>
     <sequence>
      <element name="uur" type="xsd:int"/>
      <element name="windsnelheid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="windEngerieResponse">
    <complexType>
     <sequence>
      <element name="windEngerieReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="berekenKracht">
    <complexType>
     <sequence>
      <element name="windsnelheid" type="xsd:int"/>
      <element name="vermogen" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="berekenKrachtResponse">
    <complexType>
     <sequence>
      <element name="berekenKrachtReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="berekenKrachtResponse">

      <wsdl:part element="impl:berekenKrachtResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="windEngerieResponse">

      <wsdl:part element="impl:windEngerieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="windEngerieRequest">

      <wsdl:part element="impl:windEngerie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="berekenKrachtRequest">

      <wsdl:part element="impl:berekenKracht" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BerekenKrachtImp">

      <wsdl:operation name="windEngerie">

         <wsdl:input message="impl:windEngerieRequest" name="windEngerieRequest">

       </wsdl:input>

         <wsdl:output message="impl:windEngerieResponse" name="windEngerieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="berekenKracht">

         <wsdl:input message="impl:berekenKrachtRequest" name="berekenKrachtRequest">

       </wsdl:input>

         <wsdl:output message="impl:berekenKrachtResponse" name="berekenKrachtResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BerekenKrachtImpSoapBinding" type="impl:BerekenKrachtImp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="windEngerie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="windEngerieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="windEngerieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="berekenKracht">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="berekenKrachtRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="berekenKrachtResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BerekenKrachtImpService">

      <wsdl:port binding="impl:BerekenKrachtImpSoapBinding" name="BerekenKrachtImp">

         <wsdlsoap:address location="http://localhost:8081/PraktijkOpdracht_IC/services/BerekenKrachtImp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
